.user_details{
    width: 600px;
    height: 500px;
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 0 2px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    padding: 24px 0 24px 48px;
}

.user_details span{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
}