
.page_cart{
    display: flex;
    justify-content: space-around;
}

.cart{
    width: 1000px;
    margin: 50px auto 0 auto;
}

.cart .cart_item{
    border: solid 1px lightgrey;
    width: 100%;
    height: 175px;
}

.cart_item span{
    display: block;
    margin-bottom: 10px;
}

.main_info_cart_item{
    margin-top: 15px;
}

.price_cart_item{
    float: right;
    margin-right: 5px;
    font-weight: bold;
}

.line{
    border: solid 0.2px lightgrey;
    width: 1000px;
    height: 0;
    margin-left: auto;
    margin-right: auto;
}

.quantity_and_remove{
    display: flex !important;
    justify-content: flex-start;
    gap: 5px;
}

.quantity_and_remove button{
    margin-left: 15px;
}

.cart_label{
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
    height: 200px;
    margin: 20px 0 20px 10px;
}

.prize_label{
    float: right;
    margin-right: 10px;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 16px;
}

.total{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 16px;
}

.cart_item_img{
    width: 150px;
    height: 150px;
    float: left;
    margin: 10px;
}

.cart_item_img img{
    width: 150px;
    height: 150px;
}

.order{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    border: solid 1px lightgrey;
    width: 280px;
    min-width: 280px;
    height: 140px;
    margin: 50px auto 0 auto;
    padding: 10px 10px 0 10px;
}

.finish_order{
    font-weight: bold;
}

.order_button {
    border: none;
    background-color: #00B5E2;
    color: white;
    padding: 5px;
    border-radius: 2px;
    width: 100%;
}

.order_button:hover {
    background-color: #59CBE8;
}

.remove_button {
    border: none;
    background-color: #00B5E2;
    color: white;
    padding: 5px;
    border-radius: 2px;
}

.remove_button:hover {
    background-color: #59CBE8;
}

@media screen and (max-width: 1300px){
    .page_cart{
       flex-direction: column;
    }

    .order{

    }
}

@media screen and (max-width: 1100px){
    .cart{
        width: 800px;
    }

    .line{
        width: 800px;
    }
}

@media screen and (max-width: 810px){
    .cart{
        width: 600px;
    }

    .line{
        width: 600px;
    }
}



@media screen and (max-width: 620px){
    .cart{
        width: 400px;
    }

    .line{
        width: 400px;
    }
}

@media screen and (max-width: 370px){
    .cart{
        width: 340px;
        min-width: 340px;
    }

    .line{
        width: 340px;
    }

    .cart_item_img{
        width: 100px;
        height: 100px;
    }

    .cart_item_img img{
        width: 100px;
        height: 100px;
    }

    .cart .cart_item{
        height: 200px;
    }

    .remove_button{
        margin: 5px;
    }
}

