.order_report {
    width: 80%;
    margin: 50px auto 35% auto;
}

.line {
    border: solid 0.2px lightgrey;
    width: 100%;
    height: 0;
    margin: 0 auto 10px auto;
}

.order_label {
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
    height: 200px;
    margin: 20px 0 20px 10px;
}

.order_info {
    display: inline;
    font-family: sans-serif;
    font-size: 20px;
}

.order_date {
    margin-left: 15px;
}

.order_total_price {
    float: right;
}

.order_product {
    border: solid 1px lightgrey;
    height: 100px;
    margin-top: 5px;
}

.order_product div {
    width: 70px;
    height: 70px;
    margin: 10px;
    float: left;
}

.order_product img {
    width: 70px;
    height: 70px;
}

.order_product span {
    display: block;
    margin-top: 12px;
}

.order_item {
    border: solid 2px lightgrey;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

.remove_button {
    border: none;
    background-color: #00B5E2;
    color: white;
    padding: 5px;
    border-radius: 2px;
}

.remove_button:hover {
    background-color: #59CBE8;
}

.order_remove_button {
    margin-left: 10px;
}

.order_total_product{
    margin-left: 10px;
}

@media screen and (max-width: 1030px) {
    .order_report {
        min-width: 810px;
    }
}

@media screen and (max-width: 830px) {
    .order_report {
        min-width: 500px;
    }
    .all_info{
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
    }
}

@media screen and (max-width: 490px) {
    .order_report {
        min-width: 340px;
    }

    .order_remove_button {
        position: relative;
        top: 3px;
    }

    .order_total_price {
        margin-top: 5px;
        float: left;
    }

    .order_total_price {
        position: static;
    }
}