.home {
    margin: 30px;
}

.best_products > div {
    width: 600px;
    border: solid 1px lightgrey;
}

.best_products {
    display: flex;
    flex: 1;
    flex-basis: 100%;
    gap: 50px;
    justify-content: center;
}

.printer .container-item, .brands .container-item {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 15px 15px 0 15px;
}

.flex-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: min-content;
    padding-bottom: 19px;
}

.printer {
    height: min-content;
}

.printer .label_printer, .brands .label_brands {
    text-align: center;
    background-color: #00B5E2;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.best_products img {
    width: 180px;
    height: 180px;
}

.printer span, .brands span {
    display: block;
    font-family: "Linux Biolinum G", sans-serif;
}

/* Slick */

.sconti {
    display: flex;
    border: solid 2px lightgrey;
    width: 95%;
    min-width: 464px;
    height: min-content;
    margin: 30px auto;
}

.label_sconti {
    text-align: center;
    background-color: #00B5E2;
    color: white;
    text-transform: uppercase;
    border: solid 1px lightgrey;
    margin: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.sconti img {
    width: 160px;
    height: 160px;
}

.sconti span {
    position: relative;
    left: 5px;
    font-family: "Linux Biolinum G", sans-serif;
}

.slider img {
    background-color: #57B5E0;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.slick-slide {
    height: auto;
}

.slick-prev:before {
    color: lightgrey !important;
}

.slick-next:before {
    color: lightgrey !important;
}

.slick-dots {
    margin: 0 auto !important;
}

/* Slick */

@media screen and (max-width: 370px) {
    .best_products {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }

    .best_products img {
        width: 180px;
        height: 180px;
    }

    .sconti {
        min-width: 0;
    }

    .best_products > div {
        width: 300px;
    }
}