/* todo: eliminare selettore header e includere gli elementi in un div*/
header {
    display: flex;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    overflow: auto;
}

.accesso {
    position: fixed;
    top: 0;
    right: 0;
    text-decoration: none;
}

.accesso a {
    color: black;
    text-decoration: none;
    padding: 5px;
    font-family: "Verdana", sans-serif;
}

.accesso a:link {
    color: black;
}

.accesso a:visited {
    color: black;
}

.accesso a:hover {
    color: white;
    background-color: #007763;
    margin: 0;
}

.barra_di_nav {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #007763;
    width: 100%;
}

/* ????*/
nav a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-transform: uppercase;
    font-family: "Verdana", sans-serif;
}

/* ??? */
nav a:hover {
    background-color: #009687;
}

.search input {
    outline: none;
    width: 25%;
    margin-right: 5%;
    border: none;
    float: right;
}

/*
.prima {
    border: solid;
    color: black;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 49%;
    height: 40%;
}

.seconda {
    border: solid;
    color: black;
    float: right;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    width: 49%;
    height: 40%;
}

.terza {
    border: solid;
    color: black;
    float: left;
    margin-bottom: 2%;
    width: 49%;
    height: 40%;
}

.quarta {
    border: solid;
    color: black;
    float: right;
    margin-bottom: 2%;
    margin-left: 1%;
    width: 49%;
    height: 40%;
}*/


.login {
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 0 2px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    position: relative;
    padding: 24px 24px 32px;
    margin: 40px auto 24px;
    width: 284px;
    min-width: 0;
    height: 200px;
}

.registrazione {
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 0 2px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    position: relative;
    padding: 24px 24px 32px;
    margin: 40px auto 24px;
    width: 284px;
    min-width: 0;
    height: 620px;
}

.btn-submit {
    color: white;
    border-radius: 4px;
    padding: 4px 8px;
    min-height: 24px;
    border: none;
    background-image: linear-gradient(#009687 0%, #007763 100%);
    width: 100%;
    height: 20px;
    cursor: pointer;
}

.input {
    border-style: solid;
    border-radius: 2px;
    width: 100%;
    outline: none;
}

.input:hover {
    border-color: #007763;
}

/* ??
.accedi:hover {
    background-image: linear-gradient(#007763 0%, #009687 100%);
}*/

/* ??
.completed {
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 0 2px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    position: relative;
    padding: 24px 24px 32px;
    margin: 40px auto 24px;
    width: 220px;
    min-width: 0;
    height: 220px;
}*/


/* ???
.check_mark {
    float: right;
    height: 100px;
}*/

.utente_loggato {
    /*padding-top: 20px;*/
    padding: 0;
    margin: 0;
    height: 40px;
    position: relative;
    top: 17px;
}

.utente_loggato:hover .opzioni {
    display: block;
}

.utente_loggato .opzioni {
    display: none;
    position: absolute;
    color: black;
    background-color: #f8f8f8;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    border: 2px solid black;
    width: 142px;
}

/*
.down {
    display: block;
    position: absolute;
    color: black;
    background-color: #f8f8f8;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
}*/

#logout-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

div.opzioni a, div.opzioni #logout-btn {
    text-decoration: none;
    box-sizing: content-box;
    width: 135px;
    margin-right: 0;
    text-align: center;
    /*padding: 12px 16px;*/
    line-height: 70px;
    display: block;
    color: black;
}

div.opzioni a:hover, div.opzioni #logout-btn:hover {
    background-color: lightgrey;
}

.email_user {
    border: none;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 8px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.email_user:hover {
    border: none;
    background-color: #007763;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 8px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

div.opzioni ul {
    padding: 0;
    margin: 0;
    max-width: 120px;
}

div.opzioni li {
    list-style: none;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    color: black;
}

.carrello {
    width: 35px;
    height: 32px;
    float: right;
}

/* ???
.cat1 {
    border: solid;
    color: #007763;
    float: left;
    margin-left: 7.5%;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 40%;
    height: 30%;
}*/

#logo {
    margin: 0 15px 0;
    padding: 0;
    width: 20em;
    /*filter: invert(100%) sepia(5%) saturate(2761%) hue-rotate(313deg) brightness(89%) contrast(67%);*/
}

.cat2 {
    border: solid;
    color: #007763;
    float: left;
    margin: 2% 7.5% 2.5%;
    width: 40%;
    height: 30%;
}

.cat2 img {
    width: 50%;
    height: 90%;
}

.cat1 img {
    width: 50%;
    height: 100%;
}

.cat1 * {
    display: inline-block;
    margin-left: 10px;
}

.three_hor_lines {
    height: 18px;
    width: 18px;
}

.hamburger_menu {
    background-color: #DBDCDB;
    display: none;
    width: 20%;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    list-style: none;
    padding: 0;
    position: fixed;
}

.hamburger_menu_visible {
    display: block;
}

.hamburger_menu a {
    display: block;
    background-color: #DBDCDB;
    color: black;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 8px;
    margin: 0;
    font-family: "Franklin Gothic Medium", sans-serif;
    text-transform: uppercase;
}

/*ul.hamburger_menu a.logout{
    position: absolute;
    top: 93%;
}*/

.hamburger_menu a:hover {
    background-color: #D1D2D1;
}


/* ???
.posizione_corrente {
    background-color: #007763;
    color: white;
}*/

.product {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* proprietà importante per responsiveness */
    justify-content: space-around;
    flex: 1;
    flex-basis: auto;
}

.product .add_product {
    /*width: 300px;
    height: 510px;*/
    max-width: 300px;
    border: solid 1px lightgrey;
    flex-basis: auto;
    /*margin-left: 20px;
    margin-top: 20px;*/
}

#division-line {
    border: 1px solid lightgray;
}

.add_product_label {
    text-align: center;
    background-color: #007763;
    color: white;
    border: solid 1px lightgrey;
    margin: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.add_product_input {
    padding: 20px;
}

div.add_product_input input[type="submit"] {
    float: right;
}

.agg {
    color: white;
    border-radius: 4px;
    padding: 4px 8px;
    min-height: 24px;
    border: none;
    background-image: linear-gradient(#009687 0%, #007763 100%);
    width: 150px;
    height: 20px;
}

.agg:hover {
    background-image: linear-gradient(#007763 0%, #009687 100%);
}

.rem_product {
    max-width: 300px;
    border: solid 1px lightgrey;
    /*margin-left: 20px;
    margin-top: 20px;*/
    flex-basis: 300px;
}

.rem_product_label {
    text-align: center;
    background-color: #007763;
    color: white;
    border: solid 1px lightgrey;
    margin: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.rem_product_input {
    padding: 20px;
}

div.rem_product_input input[type="submit"] {
    float: right;
}

.mod_product {
    width: 300px;
    height: 570px;
    border: solid 1px lightgrey;
    /*margin-left: 20px;
    margin-top: 20px;*/
}

.mod_product_label {
    text-align: center;
    background-color: #007763;
    color: white;
    border: solid 1px lightgrey;
    margin: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.mod_product_input {
    padding: 20px;
}

div.mod_product_input input[type="submit"] {
    float: right;
}

/* Tabella utenti/prodotti/etc*/
.rtable {
    display: inline-block;
    vertical-align: top;
    max-width: 600px;
    width: 600px;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
}

.rtable {
    -webkit-overflow-scrolling: touch;
    background-size: 10px 100%, 10px 100%;
}

.rtable td:first-child {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background-repeat: no-repeat;
    background-size: 20px 100%;
}

.rtable td:last-child {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 20px 100%;
}

.rtable th {
    font-size: 11px;
    text-align: left;
    text-transform: uppercase;
    background: #007763;
    color: white;
}

.rtable th, .rtable td {
    padding: 6px 12px;
    border: 1px solid #d9d7ce;
}

table {
    margin-top: 30px;
}


/* Login admin */
.admin {
    background-color: #007Fcc;
}

.login_admin {
    background-color: white;
    box-sizing: border-box;
    border-radius: 2px;
    position: relative;
    padding: 24px 24px 32px;
    margin: 180px auto 24px;
    width: 300px;
    line-height: 25px;
    min-width: 0;
    height: 330px;
}

.accedi_admin {
    color: white;
    border-radius: 4px;
    padding: 4px 8px;
    min-height: 24px;
    border: none;
    background-image: linear-gradient(#57B5E0 0%, #007FCC 100%);
    width: 100%;
    height: 20px;
}

.accedi_admin:hover {
    background-image: linear-gradient(#007FCC 0%, #57B5E0 100%);
}

.input_admin {
    border-style: solid;
    border-radius: 2px;
    width: 100%;
    outline: none;
}

.input_admin:hover {
    border-color: #007FCC;
}

#test-text {
    padding: 0;
    text-decoration: none;
    font-family: "Orienta", sans-serif;
    font-style: italic;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    left: 100px;
    margin: 5px 0 0;
    text-underline: none;
}

#test-text:hover {
    background-color: unset;
}

.login_admin p {
    margin: 11px 0;
    text-align: center;
    font-size: 22px;
    font-family: "Orienta", sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid lightgray;
    padding-bottom: 7px;
}

/*#canvas {
    margin: 20px;
    max-height: 700px;
}
*/

.container {
    padding-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    max-height: 600px;
}

.container #chart {
    max-height: 100%;
    max-width: 100%;
}

.table-items {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/*footer {
    background-color: #007763;
    color: black;
    width: 100vh;
    height: 40%;
    padding-bottom: 40px;
    margin: 0;
    position: absolute;
    bottom: 0;
}*/

@media screen and (max-device-width: 480px) {
    .table-items {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .rtable {
        max-width: 450px;
        width: min-content;
        height: min-content;
    }
}


.cat {
    background-color: white;
    width: 380px;
    height: 339px;
}

.cat img {
    padding-left: 40px;
    width: 300px;
    height: 300px;
}

.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    min-width: 640px;
    background-color: #f3f3f3;
    padding: 50px 5px;
    margin-right: 0;
}

.text_category {
    display: block;
    color: #00B5E2;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, "sans-serif";
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
}

.category_label {
    text-align: center;
    background-color: #00B5E2;
    color: white;
    border: solid 1px lightgrey;
    margin: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.flex-container {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 40px;
    padding-top: 70px;
    justify-content: center;
    align-content: center;
}

footer {
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    background: #00B5E2;
    margin-bottom: 0;
    padding: 0 80px;
    width: 100vw;
    height: 20%;
    box-sizing: border-box;
}

.flex-container a {
    font-family: Arial, sans-serif;
}

.flex-container a:hover {
    text-decoration: underline;
    cursor: pointer;
}