.user {
    display: flex;
}

.rem_user {
    width: 300px;
    height: 165px;
    border: solid 1px lightgrey;
    margin-left: 20px;
    margin-top: 20px;
}

.rem_user_label {
    text-align: center;
    background-color: #007763;
    color: white;
    border: solid 1px lightgrey;
    margin: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.rem_user_input {
    padding: 20px;
}

div.rem_user_input input[type="submit"] {
    float: right;
}

.mod_user {
    width: 300px;
    height: 665px;
    border: solid 1px lightgrey;
    margin-left: 20px;
    margin-top: 20px;
}

.mod_user_label {
    text-align: center;
    background-color: #007763;
    color: white;
    border: solid 1px lightgrey;
    margin: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.mod_user_input {
    padding: 20px;
}

div.mod_user_input input[type="submit"] {
    float: right;
}

.modal-content table, .modal-content th, .modal-content td {
    border: 1px solid black;
    border-collapse: collapse;
}

.modal-content table {
    margin-right: auto;
    margin-left: auto;
}

.modal-content details {
    margin-bottom: 30px;
}

.modal-content summary {
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}