.flex-container {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 40px;
    padding-top: 70px;
    justify-content: center;
    align-content: center;
    font-family: Arial, sans-serif;
}

footer {
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    background: #00B5E2;
    margin-bottom: 0;
    padding: 0 80px;
    width: 100vw;
    height: 20%;
    box-sizing: border-box;
}

.flex-container a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.flex-container a {
    font-family: Arial, sans-serif;
}